input[type="checkbox"] {
  opacity: 0;
}


 .cwText{
  outline: none;
  width: 16.6666%;
 
 }




.popup {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin: 1rem;
}

