.layout{
    margin: 0 auto;
    width: calc(100vw - 4rem);
    font-family: 'Roboto', sans-serif;
  }
  
  
  @media screen and (min-width: 1024px){
  
    .layout{
      width: calc(100vw - 12rem);
    }
  }