.preloader{
    height: 100vh;
    background-color: #0D0D0D;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.preloader img{
    width: 500px;
    height: 500px;
}

