.preloader{
    height: 100vh;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow: hidden;
}

.preloader img{
    width: 500px;
    height: 500px;
}


h1.outline {
    color: #0D0D0D;
    background-color: #0D0D0D;
    text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff, 1px 1px 0 #ffff;
  
}
