.onHover {
  position: relative;
  text-decoration: none;
}

.onHover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0%;
  height: 2px; 
  background-color: #000; 
  transition: width 0.3s ease; 
  
}

.onHover:hover::after {
  width: 100%;
  transition: width 0.3s ease;
}
