.right{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.right div:first-of-type{
    font-size: 13rem;
}

.left{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
}

.left div:first-of-type{
    font-size: 13rem;
    order: 2;
}

@media screen and (max-width: 768px){
    .right{
        grid-template-columns: 100%;
    }

    .left{
        grid-template-columns: 100%;
    }

    .right div:first-of-type{
        font-size: 10rem;
    }

    .left div:first-of-type{
        font-size: 10rem;
    }
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  .track {
    position: absolute;
    white-space: nowrap;
  }
  