.right{
    display: grid;
    grid-template-columns: 40% 60%;
    justify-content: center;
    align-items: center;
}

.right div:first-of-type{
    font-size: 13rem;
}

.left{
    display: grid;
    grid-template-columns: 60% 40%;
    justify-content: center;
    align-items: center;
}

.left div:first-of-type{
    font-size: 13rem;
    order: 2;
}
